* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.link {
  color: #2b4d6d;
}

.link:hover {
  color: #5d5dd5;
  text-decoration: underline;
}

#copy {
  color: #ccc;
  font-size: 1.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
    font-weight: bold
}

.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
  margin: -3.5rem 0rem -1rem 0rem;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.3)
    ),
    url(images/bg.jpg) center no-repeat;
  background-size: cover;
  flex-direction: column;
}

.summary {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0rem 0.5rem 0rem;
  margin: 3.5rem;
  text-align: justify;
}

.btn-download a {
  background-color: #5d5dd5;
  padding: 2rem;
  margin-bottom: 1.2rem;
  border: 2px solid black;
  cursor: pointer;
  height: auto;
  border-radius: 0.5rem;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.btn-download a:hover {
  background-color: #9a9ae5;
  color:black
}

.btn-download i {
  margin-right: 1.5rem;
}

.section-1-heading {
  font-size: 6rem;
  font-weight: 700;
  color: #fff;
  background-color: #2b4d6d;
  padding: 0 3rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  border-bottom: 0.3rem solid #fff;
  text-shadow: 0.2rem 0.2rem 1rem #555;
  transform: skew(-10deg);
}

.person-img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.7rem dotted #2b4d6d;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  opacity: 0.9;
  animation: wiggle 400ms 1s 8 ease-out;
}

@keyframes wiggle {
  0% {
    transform: rotateY(0);
  }

  50% {
    transform: rotateY(-30deg);
  }

  100% {
    transform: rotateY(30deg);
  }
}

.person-name {
  font-size: 2rem;
  color: #fff;
  background-color: #2b4d6d;
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
}

.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: #333;
  background-color: #fff;
  border: 0.3rem solid #333;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.section-1-btn:hover {
  color: #fff;
  background-color: #333;
  border: 0.3rem solid #fff;
  transition: 0.5s 0.2s;
  opacity:0.8
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #2b4d6d;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #ccc;
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.change.navbar-link {
  color: #fff;
}

.navbar-link:hover {
  color: #fff;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}

.section-2 {
  width: 100%;
  height: 100%;
  padding: 10rem 20rem 2rem 20rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bars-wrapper {
  margin: 2.5rem 2.5rem;
}

.progress-bar {
  width: 130rem;
  height: 5.5rem;
  background-color: #444;
  margin: 2.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
  display: flex;
  align-items: center;
}

.progress-text {
  position: absolute;
  margin: 1rem;
  left: 1rem;
  font-size: 2.3rem;
  color: #fff;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #aec1d3;
}

.progress-percent {
  width: 0;
  height: 100%;
  background-color: #2b4d6d;
  border-radius: 0.3rem;
  transition: width 0.5s 0.5s ease-in-out;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 7rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 20rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.section-3 {
  width: 100%;
  height: 100%;
  padding: 5rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -20rem;
  z-index: 10;
  transition: top 0.3s;
}

.project:hover .project-text {
  top: 3rem;
  transition: top 0.9s 0.3s;
}

.project-name {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-technologies {
  font-size: 2.5rem;
  font-weight: bold 300;
  color: #2b4d6d;
}

.project-img {
  width: 40rem;
  height: 30rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-link-0{
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #2b4d6d;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute; 
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project:hover .project-link-0 {
  bottom: 5rem;
  cursor: pointer;
  transition: bottom 0.3s 0.3s;
}

.project-link-0:hover {
  background-color: #2b4d6d;
  opacity:0.8
}

.project-link-0:hover a {
  color: #fff;
  transition: 0.5s 0.3s;
}

.project-link-1 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #2b4d6d;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute; 
  bottom: -5rem;
  left: 7rem;
  transition: bottom 0.3s;
}

.project:hover .project-link-1 {
  bottom: 5rem;
  left: 7rem;
  cursor: pointer;
  transition: bottom 0.3s 0.3s;
 
}

.project-link-1:hover {
  background-color: #2b4d6d;
  opacity:0.8
}

.project-link-1:hover a {
  color: #fff;
  transition: 0.5s 0.3s;
}

.project-link-2 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #2b4d6d;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute; 
  bottom: -5rem;
  left: 20rem;
  transition: bottom 0.3s;
}

.project:hover .project-link-2 {
  bottom: 5rem;
  left: 20rem;
  cursor: pointer;
  transition: bottom 0.3s 0.3s;
}

.project-link-2:hover {
  background-color: #2b4d6d;
  opacity:0.8
}

.project-link-2:hover a {
  color: #fff;
  transition: 0.5s 0.3s;
}

.section-4 {
  width: 100%;
  height: 33vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-address {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 2rem;
}

.adress-item {
  margin-right: 20rem;
}
.address {
  font-size: 2rem;
  font-weight: 300;
  color:white;
}

.address-margin {
  margin-left: 12.5rem;
}

.address  span{
  font-size: 2.5rem;
  color: #ccc;
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 3rem;
  font-size: 3rem;
  text-align: center;
}

.social-media {
  text-align: center;
  margin-top: 2rem;
}

.social-media-link {
  margin: 0 2.5rem;
  padding: 0.7rem;
  background-color: #2b4d6d;
  border-radius: 0.5rem;
  display: inline-block;
}

.social-media-link i {
  font-size: 5rem;
  color: #fff;
}

.social-media-link:hover i {
  opacity:0.7
}

.section-5 {
  width: 100%;
  height: 6vh;
  background-color: #222;
  flex-direction: column;
}


@media(max-width: 350px){
  #copy {
    font-size: 1rem;
  }
  .summary {
    font-size: 1.3rem;
  }
  .section-heading  {
    font-size: 2.3rem;
    letter-spacing: 0.2rem;
    margin: 60px 0px -25px 0px;
    border-bottom-width: 0.2rem;
  }

  .section-2 {
    padding: 0rem 0rem 2rem 0rem
  }

  .section-4 {
    height: 35vh;
  }

  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 1.3rem 0rem;
  }

  .service i {
    font-size: 3rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 1.3rem;
    width: 20rem
  }

  .progress-bar {
    width: 25rem;
    height: 7rem;
  }

  .progress-bars-wrapper {
    margin: 1.5rem 0rem -1rem;
  }

  .progress-text {
    font-size: 1.3rem;
    margin: 0.3rem
  }

  .progress-text span {
    font-size: 1rem
  }

  .section-1-heading {
    font-size: 1.5rem;
    text-align:center;
    letter-spacing: 0.6rem;
    padding: 0px
  }

  .person-img {
    width: 20rem;
    height: 20rem;
    border-width: 0.4rem;
   
  }

  .person-name {
    font-size: 1.2rem;
    padding: 0.4rem
  }

  .section-1-btn { 
  font-size: 0.9rem
  }

  .navbar-link {
    font-size: 1rem;
    margin: 0 1rem;
    letter-spacing: 0.1rem;
  }

  .btn-download a {
    padding: 1.2rem;
    font-size: 1.2rem;
  }

  .projects-wrapper {
    width: 90%
  }

  .project-technologies {
    font-size: 1.6rem
  }

  .project-link-0 {
    font-size: 1.3rem;
    
  }

  .project-link-1 {
    font-size: 1.3rem
  }

  .project-link-2 {
    font-size: 1.3rem
  }

  .project:hover .project-link-0 {
    bottom: 1.5rem
  }

  .project:hover .project-link-1 {
    left: 5rem;
    bottom: 2rem;
    padding: 0 0.5rem;
  }

  .project:hover .project-link-2 {
    left: 15rem;
    bottom: 2rem;
    padding: 0 0.5rem;
  }

  .project-img {
    height: 20rem
  }

  .project-name {
    font-size: 1.9rem;
    margin: -20px 0px 5px 0px
  }

  .section-3-heading {
    margin-top: -30px
  }

  .container-address {
    flex-direction: column;
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 1.5rem
  }

  .address span {
    font-size: 1.5rem
  }

  .section-4-heading {
    font-size: 1.6rem;
    margin: 0px 0px 0px 0px
  }

  .social-media {
    margin-top: -1rem
  }

  .social-media-link i {
    font-size: 3rem
  }

  .social-media-link {
    padding: 0.4rem
  }
}


@media (min-width: 351px)and (max-width: 425px){
  #copy {
    font-size: 1.2rem;
  }
  .summary {
    font-size: 1.5rem;
  }
  .section-heading  {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin: 60px 0px -25px 0px;
    border-bottom-width: 0.2rem;
  }

  .section-2 {
    padding: 0rem 0rem 2rem 0rem
  }

  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 1.3rem 0rem;
  }

  .service i {
    font-size: 3.5rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 1.5rem;
    width: 25rem
  }

  .progress-bar {
    width: 30rem;
    height: 8rem;
  }

  .progress-bars-wrapper {
    margin: 1.5rem 0rem -1rem;
  }

  .progress-text {
    font-size: 1.5rem;
    margin: 0.3rem
  }

  .progress-text span {
    font-size: 1.2rem
  }

  .section-1-heading {
    font-size: 1.9rem;
    text-align:center;
    letter-spacing: 0.7rem;
    padding: 0px
  }

  .person-img {
    width: 20rem;
    height: 20rem;
    border-width: 0.4rem;
   
  }

  .person-name {
    font-size: 1.3rem;
    padding: 0.5rem
  }

  .section-1-btn { 
  font-size: 1.1rem
  }

  .navbar-link {
    font-size: 1.2rem;
    margin: 0 1rem;
    letter-spacing: 0.1rem;
  }

  .btn-download a {
    padding: 1.4rem;
    font-size: 1.4rem;
  }

  .projects-wrapper {
    width: 90%
  }

  .project-technologies {
    font-size: 1.8rem
  }

  .project-link-0 {
    font-size: 1.5rem;
    
  }

  .project-link-1 {
    font-size: 1.5rem
  }

  .project-link-2 {
    font-size: 1.5rem
  }

  .project:hover .project-link-0 {
    bottom: 3rem
  }

  .project:hover .project-link-1 {
    left: 7rem;
    padding: 0 0.5rem;
  }

  .project:hover .project-link-2 {
    left: 17rem;
    padding: 0 0.5rem;
  }

  .project-img {
    height: 25rem
  }

  .project-name {
    font-size: 2.1rem;
    margin: -20px 0px 5px 0px
  }

  .section-3-heading {
    margin-top: -30px
  }

  .container-address {
    flex-direction: column;
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 1.8rem
  }

  .address span {
    font-size: 1.8rem
  }

  .section-4-heading {
    font-size: 1.8rem;
    margin: 0px 0px 0px 0px
  }

  .social-media {
    margin-top: -1rem
  }

  .social-media-link i {
    font-size: 4rem
  }

  .social-media-link {
    padding: 0.4rem
  }
  .section-4 {
    height: 35vh;
  }
}


@media (min-width: 426px)and (max-width: 767px){
  #copy {
    font-size: 1.3rem;
  }

  .section-5 {
    height: 10vh;
  }

  .section-1 {
    height: 100%;
  }

  .summary {
    font-size: 1.6rem;
    padding
  }

  .section-heading  {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 60px 0px -25px 0px;
    border-bottom-width: 0.2rem;
  }

  .section-2 {
    padding: 0rem 0rem 2rem 0rem
  }

  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 1.3rem 0rem;
  }

  .service i {
    font-size: 4.5rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 1.75rem;
    width: 25rem
  }

  .progress-bar {
    width: 60rem;
    height: 8rem;
  }

  .progress-bars-wrapper {
    margin: 1.5rem 0rem -1rem;
  }

  .progress-text {
    font-size: 1.7rem;
    margin: 0.3rem
  }

  .progress-text span {
    font-size: 1.4rem
  }

  .section-1-heading {
    font-size: 2.5rem;
    text-align:center;
    letter-spacing: 1rem;
    padding: 10px;
    margin-top:40px
  }

  .person-img {
    width: 25rem;
    height: 25rem;
    border-width: 0.5rem 
  }

  .person-name {
    font-size: 1.8rem;
    padding: 0.7rem
  }

  .section-1-btn { 
  font-size: 1.4rem;
  margin-bottom: 50px
  }

  .navbar-link {
    font-size: 1.5rem;
    margin: 0 3rem;
    letter-spacing: 0.2rem;
  }

  .btn-download a {
    padding: 1.6rem;
    font-size: 1.6rem;
  }

  .projects-wrapper {
    width: 100%
  }

  .project-technologies {
    font-size: 2rem
  }

  .project-link-0 {
    font-size: 1.8rem;
  }

  .project-link-1 {
    font-size: 1.8rem
  }

  .project-link-2 {
    font-size: 1.8rem
  }

  .project:hover .project-link-0 {
    bottom: 3rem
  }

  .project:hover .project-link-1 {
    left: 7rem
  }

  .project:hover .project-link-2 {
    left: 22rem
  }

  .project-img {
    height: 27rem
  }

  .project-name {
    font-size: 2.4rem;
    margin: -20px 0px 5px 0px
  }

  .section-3-heading {
    margin-top: -30px
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 1.8rem
  }

  .address span {
    font-size: 1.8rem
  }

  .section-4 {
    height: 55vh
  }

  .section-4-heading {
    font-size: 2rem;
    margin: 0px 0px 0px 0px
  }

  .social-media {
    margin-top: -1rem
  }

  .social-media-link i {
    font-size: 4rem
  }

  .social-media-link {
    padding: 0.4rem
  }
}

@media (min-width: 568px) and (max-width: 569px){

  .section-4 {
    height: 65vh
  }

  .section-5 {
    height: 12vh
  }

  .navbar-link {
    font-size: 1.4rem;
  }

  .progress-bar {
    width: 50rem;
  }

  .service i {
    font-size: 4rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 1.6rem;
    width: 20rem
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 1.6rem
  }

  .address span {
    font-size: 1.6rem
  }

  .section-4-heading {
    font-size: 2rem;
    margin: 0px 0px 30px 0px
  }
}

@media (min-width: 768px) and (max-width: 1023px){

  .summary {
    font-size: 1.6rem;
  }

  .section-heading  {
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin: 60px 0px -25px 0px;
    border-bottom-width: 0.2rem;
  }

  .section-2 {
    padding: 0rem 0rem 2rem 0rem
  }

  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 1.3rem 0rem;
  }

  .service i {
    font-size: 4.5rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 1.75rem;
    width: 30rem
  }

  .progress-bar {
    width: 70rem;
    height: 7rem;
  }

  .progress-bars-wrapper {
    margin: 1.5rem 0rem -1rem;
  }

  .progress-text {
    font-size: 1.7rem;
    margin: 0.3rem
  }

  .progress-text span {
    font-size: 1.4rem
  }

  .section-1-heading {
    font-size: 3rem;
    text-align:center;
    letter-spacing: 1rem;
    padding: 10px;
    margin-top:40px
  }

  .person-img {
    width: 25rem;
    height: 25rem;
    border-width: 0.5rem 
  }

  .person-name {
    font-size: 1.8rem;
    padding: 0.7rem
  }

  .section-1-btn { 
  font-size: 1.4rem;
  margin-bottom: 50px
  }

  .navbar-link {
    font-size: 1.6rem;
    margin: 0 4rem;
    letter-spacing: 0.3rem;
  }

  .btn-download a {
    padding: 1.5;
    font-size: 1.5rem;
  }

  .projects-wrapper {
    width: 100%
  }

  .project-technologies {
    font-size: 2rem
  }

  .project-link-0 {
    font-size: 1.8rem;
    
  }

  .project-link-1 {
    font-size: 1.8rem
  }

  .project-link-2 {
    font-size: 1.8rem
  }

  .project:hover .project-link-0 {
    bottom: 3rem
  }

  .project:hover .project-link-1 {
    left: 7rem
  }

  .project:hover .project-link-2 {
    left: 22rem
  }

  .project-img {
    height: 27rem
  }

  .project-name {
    font-size: 2.4rem;
    margin: -20px 0px 5px 0px
  }

  .section-3-heading {
    margin-top: -30px
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 1.8rem
  }

  .address span {
    font-size: 1.8rem
  }

  .section-4 {
    height: 30vh
  }

  .section-4-heading {
    font-size: 2rem;
    margin: -70px 0px 0px 0px
  }

  .social-media {
    margin-top: -1rem
  }

  .social-media-link i {
    font-size: 4rem
  }

  .social-media-link {
    padding: 0.4rem
  }

}

@media (min-width: 812px) and (max-width: 824px){
  .section-4 {
    height: 70vh
  }

  .section-5 {
    height: 10vh
  }

  .section-1 {
    height: 100%;
  }

  .section-4-heading {
    margin: -30px 0px 0px 0px;
 }

}


/* IPad */
@media (min-width: 1024px) and (max-width: 1349px){

  .summary {
    font-size: 1.8rem;
  }

  .section-heading  {
    font-size: 4rem;
    letter-spacing: 0.4rem;
    margin: 60px 0px -25px 0px;
    border-bottom-width: 0.2rem;
  }

  .section-2 {
    padding: 0rem 0rem 2rem 0rem
  }

  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 1.6rem 0rem;
  }

  .service i {
    font-size: 5rem;
    margin-bottom: 1rem
  }

  .service h2 {
    font-size: 2rem;
    width: 30rem
  }

  .progress-bar {
    width: 95rem;
    height: 6rem;
  }

  .progress-bars-wrapper {
    margin: 1.5rem 0rem -1rem;
  }

  .progress-text {
    font-size: 1.9rem;
    margin: 0.3rem
  }

  .progress-text span {
    font-size: 1.5rem
  }

  .section-1-heading {
    font-size: 3.5rem;
    text-align:center;
    letter-spacing: 1rem;
    padding: 10px;
    margin-top:40px
  }

  .person-img {
    width: 30rem;
    height: 30rem;
    border-width: 0.6rem 
  }

  .person-name {
    font-size: 2.1rem;
    padding: 0.7rem
  }

  .section-1-btn { 
  font-size: 1.7rem;
  margin-bottom: 50px
  }

  .navbar-link {
    font-size: 1.8rem;
    margin: 0 6rem;
    letter-spacing: 0.4rem;
  }

  .btn-download a {
    padding: 1.8rem;
    font-size: 1.8rem;
  }

  .projects-wrapper {
    width: 100%
  }

  .project-technologies {
    font-size: 2.3rem
  }

  .project-link-0 {
    font-size: 1.9rem;
  }

  .project-link-1 {
    font-size: 1.9rem
  }

  .project-link-2 {
    font-size: 1.9rem
  }

  .project:hover .project-link-0 {
    bottom: 3rem
  }

  .project:hover .project-link-1 {
    left: 7rem
  }

  .project:hover .project-link-2 {
    left: 22rem
  }

  .project-name {
    font-size: 2.4rem;
    margin: -20px 0px 5px 0px
  }

  .section-3-heading {
    margin-top: -30px
  }

  .adress-item {
    margin-right: 25px
  }

  .address {
    font-size: 2rem
  }

  .address span {
    font-size: 2rem
  }

  .section-4-heading {
    font-size: 3rem;
    margin: -10px 0px 0px 0px
  }

  .social-media {
    margin-top: -1rem;
   
  }

  .social-media-link i {
    font-size: 4.5rem;
  }

  .social-media-link {
    padding: 0.5rem
  }

}

